# AGNetworkTool
#
# CONNECT
yes
# SERVER_ADDRESS
192.168.178.31
# PORT_NUMBER
49303
#
#
# FORMAT:
# <LABELNAME> <DATATYPE> <ARRAYSIZE>
#
# CDB_INPUT_START

# CDB_INPUT_STOP
#
# CDB_OUTPUT_START

# CDB_OUTPUT_STOP