# AGNetworkTool
#
# CONNECT
yes
# SERVER_ADDRESS
192.168.178.31
# PORT_NUMBER
49303
#
#
# FORMAT:
# <LABELNAME> <DATATYPE> <ARRAYSIZE>
#
# CDB_INPUT_START
CLIENT_SEND_INT1	INT1
CLIENT_SEND_INT2	INT2
CLIENT_SEND_INT4	INT4
CLIENT_SEND_LOG1	LOG1
CLIENT_SEND_LOG2	LOG2
CLIENT_SEND_LOG4	LOG4
CLIENT_SEND_REAL4	REAL4
CLIENT_SEND_REAL8	REAL8
CLIENT_SEND_ARRAY	INT1	32
# CDB_INPUT_STOP
#
# CDB_OUTPUT_START
SERVER_SEND_INT1	INT1
SERVER_SEND_INT2	INT2
SERVER_SEND_INT4	INT4
SERVER_SEND_LOG1	LOG1
SERVER_SEND_LOG2	LOG2
SERVER_SEND_LOG4	LOG4
SERVER_SEND_REAL4	REAL4
SERVER_SEND_REAL8	REAL8
SERVER_SEND_ARRAY	INT1	32
# CDB_OUTPUT_STOP